<div class="container">
  <% provide(:button_text, 'Save Changes') %>

  <%= render "shared/story", story: @story %>

  <hr>

  <h2 class="new-edit-title">Edit Estimate</h2>

  <%= render partial: 'form', locals: {story: @story, estimate: @estimate, project: @project} %>

  <hr>

  <%= link_to 'Back', project_path(@project.id), id:"back", class: "button" %>
</div>