<% provide(:button_text, 'Save Changes') %>
<h2 class="new-edit-title">Edit Estimate</h2>

<%= render 'form', estimate: @estimate %>

<hr>

<%= link_to 'Back', project_path(@project.id), id:"back" %>
