<div class="container">
  <% provide(:button_text, 'Create') %>

  <p>New Estimate</p>
  <%= render "shared/story", story: @story %>

  <%= render partial: 'form', locals: {estimate: @estimate, story: @story, project: @project} %>

  <hr>

  <%= link_to 'Back', project_path(@project.id), id:"back", class: "button" %>
</div>