<h2 class="new-edit-title">Sign up with GitHub</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<% end %>

<hr>
</br>

<%= render "devise/shared/links" %>
