<h4 class="word-break">Story #<%= story.id %>: <%= story.title %></h4>

<div class="story-description">
  <%= markdown(story.description) %>
</div>

<div class="extra-info">
  <%= markdown(story.extra_info) %>
</div>
