<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home | Points App</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Welcome to the Points App</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
