.project-table {
  display: grid;
  padding: 0 0 50px;
  &__header {
    position: sticky;
    background: #ffffff;
    z-index: 1;
    top: 54px;
    margin-left: -20px;
    padding-left: 20px;
  }
  .project-table__row {
    display: grid;
    grid-template-columns: 1fr 70px 70px 260px;
    align-items: center;
    padding: 10px 0;
    &.project-table__row--reports {
      display: flex;
      flex-direction: row;
      .project-table__cell {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        &:first-child {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 20%;
        }
      }
    }
    &.project-table__row--real-scores {
      grid-template-columns: 55% repeat(3, 15%);
    }
    &.project-table__row--project-reports {
      grid-template-columns: 80% 20%;
    }
    &.project-table__row--footer {
      font-weight: bold;
      margin-top: 20px;
    }
    &.project-table__row--header {
      font-weight: bold;
    }
    &.project-table__row--story {
      cursor: grab;
      border-bottom: 1px solid $medium_grey;
      &:hover {
        background-color: #d9f1f1;
      }
      &:active {
        cursor: grabbing;
      }
    }
  }
}
