.status-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &.archived {
    background-color: rgba(29,78,216,0.2);
    border-color: #1d4ed8;
  }
}
