label {
  @include font-open-sans-normal;
  margin-top: 1em;
  margin-bottom: 0.2em;
  display: block;
}
input,
textarea,
select {
  display: block;
  border: none;
  background: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  font-size: 1em;
  border: 1px solid $orange;
  &:focus {
    outline: none;
    border: 1px solid $green;
  }
}
input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 5px;
}

.form-error {
  background: $orange;
  padding: 10px 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 24px;
}
.form-success {
  color: #57ce81;
  @include font-open-sans-normal;
  font-size: 1.2em;
  padding-top: 20px;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.alert-success {
  color: black;
  background-color: #d9f1f1;
  border-color: #d9f1f1;
  font-size: 12px;
}

.field,
.actions {
  margin-bottom: 10px;
}
