<h4>Hierarchy</h4>
<label>Parent:</label>
<% top = project.parent ? project.parent : project %>
<%= link_to top.title, project_path(top) %>
<label>Sub Projects:</label>
<ul>
  <% sub_projects.each do |sub_project| %>
    <li><%= link_to sub_project.title, project_path(sub_project) %></li>
  <% end %>
</ul>