<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Points App</title>
  </head>
  <body>
    <h2>Create New Project</h2>

    <%= form_for(@project) do |f| %>
      <div class="field">
        <%= f.text_field :title, placeholder: "Project Title" %>
      </div>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>

  </body>
</html>
