<h1 class="dashboard-title"><%= @project.title %></h1>

<div class="row">
  <% @stories.each do | story | %>
    <div class="col-sm-6 col-lg-4">
      <div class="card-blue">
        <h2 class="project-title"><%= link_to story.title, story_path(story.id), class: "link" %></h2>
      </div>
    </div>
  <% end %>
</div>

<div class="wrapper">
  <%= link_to "Add a Story", stories_new_path, class: "btn btn-lg btn-primary", id: "project_button" %>
</div>
