<h1 class="dashboard-title"><%= @project.title %></h1>

<% @stories.each do | story | %>
  <div class="list-group">
    <button type="button" class="list-group-item"><%= link_to story.title, project_story_path(@project.id, story.id), class: "link" %></li>
  </div>
<% end %>

<div class="wrapper">
  <%= link_to "Add a Story", new_project_story_path(@project.id), class: "btn btn-lg btn-primary", id: "create_button" %>
</div>
