<div class="container">
  <h1 class="dashboard-title"><%= render "shared/project_title", project: @project %></h1>
  <% provide(:button_text, 'Create') %>
  <h2 class="new-edit-title">Create New Story</h2>

  <%= render 'form', story: @story %>
  <hr>

  <%= link_to 'Back', project_path(@project), id: "back", class: "button" %>
</div>