<div class="container">
  <%= render "shared/story", story: @story %>
  <div class="btn-group">
    <%= link_to 'Edit', edit_project_story_path(@project.id), id:"back", class: "button" %>
    <%= link_to 'Back', project_path(@project.id), id:"back", class: "button" %>
  </div>
</div>
