/* === GRID */
/* ========================== */

.row {
  //margin-left: -$gutter/2;
  margin-left: auto;
  //margin-right: -$gutter/2;
  margin-right: auto;
  max-width: $breakpoint_1200px;
  &:before {
    // Magic learned from Bootstrap
    content: " ";
    display: table;
  }
  &:after {
    // Magic learned from Bootstrap
    content: " ";
    display: table;
    clear: both;
  }
}
.column {
  position: relative;
  min-height: 1px;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  float: left;
  box-sizing: border-box;
}

.column-force-first {
  clear: left;
}
.column-force-last {
  clear: right;
}

.column-half {
  @extend .column;
  width: 50%;
  @media screen and (max-width: $breakpoint_768px) {
    width: 100%;
  }
}
.column-third {
  @extend .column;
  width: 33.3333333333%;
  @media screen and (max-width: $breakpoint_768px) {
    width: 100%;
  }
}
.column-quarter {
  @extend .column;
  width: 25%;
  @media screen and (max-width: $breakpoint_1200px) {
    width: 50%;
  }
  @media screen and (max-width: $breakpoint_768px) {
    width: 100%;
  }
}
.column-full {
  @extend .column;
  width: 100%;
  float: none;
  clear: both;
}

.almost-full-width {
  max-width: $breakpoint_1200px;
  margin: 0 auto;
}
.full-width {
  width: auto;
  margin: 0;
  clear: both;
}
