// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

.content {
  font-family: "Open Sans", sans-serif;
  background-color: #fdfcfc;
  color: #272727;
  margin: 0 0 160px;
  padding: 25px;
}

.main-content {
  padding-top: 2em;
  padding-left: 2em;
}

.main-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2em;
  color: #272727;
}

.home-info {
  font-size: 17px;
  line-height: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-info a {
  color: #F70A7C;
}

.home-info a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #F70A7C;
}

/* Header */

header {
  margin-left: 15px;
  margin-right: 15px;
}

/* Footer */

footer {
  display: block;
  background-color: #000000;
  height: 160px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  position: absolute;
  text-align: center;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

footer .logo-container {
  width: 220px;
  margin: auto;
}

.logo {
  display: block;
  margin: 0px auto 0px auto;
  background-image: url(/assets/isotype_vector.svg);
  background-repeat: no-repeat;
  background-position: left center;
  width: 220px;
  height: 40px;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 50px;
  background-size: auto 80%;
}

footer a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

footer .logo a {
  color: #fff;
}

footer .logo-container a:visited {
  color: #fff;
}

.logo-ombu {
  color: #ec037c;
}

.slogan {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 9px;
  color: #ffcc00 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -9px;
  float: left;
  margin-left: 50px;
  text-align: left;
  text-decoration: underline;
}


.txt_footer {
  font-family: "Lato", sans-serif;
  color: #515151;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px auto 10px auto;
  border-top: solid 1px #515151;
  border-bottom: solid 1px #515151;
  padding: 10px 5px;
  display: block;
  width: 380px;
  background-image: url("footer_2.png");
  background-size: 380px 40px;
  background-repeat: no-repeat;
}
