// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Universal */
.home-title {
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-card.sorting {
  position: relative;
  &:after {
    font-family: "FontAwesome";
    content: "\f110";
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    animation: rotate 0.5s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
