// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-controller {
  &.index-action {
    .btn-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .button {
        margin: 0 5px;
      }
    }
  }
}

.totals {
  font-weight: bold;
}

#import-export {
  margin: 0 0 50px 0;
  summary {
    h4 {
      display: inline-block;
    }
  }
  section {
    background-color: $white;
    padding: 15px;
    margin: 5px 0 60px 0;
    input {
      display: inline-block;
      margin: 0 0 10px 0;
    }
  }
}

.import-export-header {
  transition: all 0.2s linear;
  cursor: pointer;
  outline: transparent;

  & &__text {
    padding-left: 1rem;
    vertical-align: bottom;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &::-webkit-details-marker {
    // Remove Safari/Webkit summary marker
    display: none;
  }
}

.card-deck {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .card {
    padding-right: 40px;
    .card-header {
      margin-bottom: 10px;
    }
  }
}

.dropdown-wrapper {
  display: inline-block;
  position: relative;

  .dropdown {
    display: none;
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 2;
    min-width: 150px;
    background: white;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);

    a,
    button,
    input {
      width: 100%;
      border: 0px;
      margin: 0px;
      padding: 0.5rem;
      background: none;
      text-align: left;
      font-size: 1.2rem;
      font-weight: normal;
      color: rgb(100, 100, 100);

      &:hover,
      &:focus-within {
        color: black;
      }
    }

    a.delete,
    a.delete:hover {
      color: $dark_magenta;
    }
  }

  &:focus-within > .dropdown {
    display: flex;
    flex-direction: column;
    opacity: 1;
    pointer-events: initial;
  }
}

.story_actions {
  text-align: right;
  .dropdown-wrapper.more-actions:before {
    content: "|";
    display: inline;
  }
}
