.project_id {
  padding: 5px;
  font-size: 15px;
}

.story-description {
  margin-bottom: 25px;
  font-size: 15px;
  p{
    margin-top: 10px;
  }
}

#first {
  margin-right: 25px;
}

.estimate {
  padding: 5px;
  width: 200px;
}

.checkbox input[type=checkbox] {
  width: 15px;
}
