.project_id {
  padding: 5px;
  font-size: 15px;
}
.stories-controller.show-action h1 {
  margin-top: 0.5em;
}

.word-break {
  word-break: break-all;
}

.story-description {
  margin-bottom: 25px;
  font-size: 15px;
  p{
    margin-top: 1em;
  }
}

#first {
  margin-right: 25px;
}

.estimate {
  padding: 5px;
  width: 200px;
}

.checkbox input[type="checkbox"] {
  width: 15px;
}

.modal .story-description h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal .story-description p {
  overflow: auto;
}

.modal p {
  padding-bottom: 1.3em;
}

.new_story,
.edit_story {
  display: grid;
  grid-template-areas:
    "error error"
    "title preview"
    "description preview"
    "submit .";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

  #error_explanation {
    grid-area: error;
  }

  .field {
    align-self: start;

    &.story_title {
      grid-area: title;
    }

    &.story_description {
      grid-area: description;
    }
  }

  .story_preview {
    grid-area: preview;
    .content {
      overflow: auto;
      max-height: min(50vh, 700px);
    }
  }

  .btn-group {
    justify-self: start;
    grid-area: submit;
  }
}

.popup {
  display: none;
  position: absolute;
  top: 5px;
  left: 30px;
  background: #d9f1f1;
  height: 30px;
  width: 140px;
  border: 1px solid #9b054d;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
