.project_id {
  padding: 5px;
  font-size: 15px;
}

label {
  font-weight: 600;
  margin-right: 10px;
  font-size: 15px;
  display: block!important;
}

.description {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #6b6767
}
