<% bootstrap_alert_names = {"success" => "success", "error" => "danger"}%>
<div class="container">
  <% if flash[:success] || flash[:error] %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= bootstrap_alert_names[key] %>"><%= value %></div>
    <% end %>
  <% end %>
</div>
