<footer>
  <div class="logo-container">
    <h3 class="logo">
      <a href="https://www.ombulabs.com" target="_blank" title="The Lean Software Boutique">
        <span class="logo-ombu">Ombu</span>Labs
      </a>
    </h3>
    <h2 class="slogan">
      <a href="https://www.ombulabs.com" target="_blank" title="Ombu Labs"> THE LEAN SOFTWARE BOUTIQUE </a>
    </h2>
  </div>
  <div>
    <p class="txt_footer">Made with ❤ around the world</p>
  </div>
</footer>
