<header class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <%= link_to header_title, header_link, id: "logo" %>
      </div>
      <div class="col-xs-2">
        <nav>
          <ul class="nav">
            <% if current_user %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button magenta" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "button green" %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
